.flexDiv{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1{
        font-size: 30px;
    font-weight: 600;
    color: rebeccapurple;
    
    }

.p2{
    font-size: 25px;
     font-weight: 600;
    color: rebeccapurple;

}
.button{
    background-color: blue
}
